{% extends "base.html" %} 

{% block title %} Sign In {% endblock %} 

{% block maincontent %}
<form method="GET">
    <div class="form-group">
        <label for="exampleInputEmail1">Email Address</label>
        <input type="email" class="form-control" id="Emailsignup" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="passwrodsignup" placeholder="Password">
    </div>
    <br>
     <button type="submit" class="btn btn-primary">Sign in</button>
</form>
{% endblock %}
